[2015-01-12 04:50] clicman opened #1 "What about release management?"
What about it in team? Who make releases and how it deploys to maven central?

[2015-01-12 09:36] vania-pooh commented on #1
@clicman we have a Teamcity instance: http://teamcity.qatools.ru/ and it does all the stuff itself. Let's create a build for this project.

[2015-01-12 09:42] clicman commented on #1
Sounds good. But I have no permissions. Could you create the build or give me me appopreate privelegies on this instance?

[2015-01-12 09:55] vania-pooh commented on #1
@clicman sent all this stuff to your email. Pull requests should be built automatically. After merging any PR a new snapshot should be sent to Sonatype. Release build should be certainly run manually.

[2015-01-12 09:55] #1 closed, assigned to nobody

[2015-01-12 09:56] vania-pooh commented on #1
@clicman please check that it works and reopen in case of issues.

[2015-01-27 12:13] baev opened #6 "Change framework label from JUnit to cucumberJVM"
https://github.com/allure-framework/allure-cucumber-jvm-adaptor/blob/master/src/main/java/ru/yandex/qatools/allure/cucumberjvm/AllureRunListener.java#L115

[2015-01-27 12:35] #6 closed, assigned to nobody

[2015-03-10 18:45] GreenTeaCake opened #9 "Multithread execution configured by maven-surefire-plugin parallel option fails"
Enabling parallel configuration for maven-surefire-plugin causes an error.
### Config

[code]
### Stacktrace

[code]
### Sample project:

[cucumber-jvm-allure-multithread](https://github.com/grumblerchester/cucumber-jvm-allure-multithread)

Is parallel execution supported by allure-cucumber-ivm-adaptor?

[2015-03-10 20:24] GreenTeaCake opened #10 "Period in the step parameter breaks test case name in the report and report displays only part after the period"
Hi. I'm not sure if it is allure-cucumber-jvm-adaptor, allure-maven-plugin or allure-report-builder issue. But I gonna raise the ticket here.

**_Cucumber feature**_

[code]

**_Report**_
![screen shot 2015-03-10 at 16 19 01](https://cloud.githubusercontent.com/assets/167279/6584401/62048336-c741-11e4-8b69-1969800557c6.png)

The period in the step parameter breaks test case name and report display

[2015-03-11 10:05] vania-pooh commented on #10
@clicman please check that case name like above goes to test case title and not name.

[2015-03-11 10:07] vania-pooh commented on #9
@grumblerchester thank you for the feedback.
@clicman our Java API supports multithreaded execution. Please check that you're raising events in adapter in the same way we do with JUnit and TestNG.

[2015-03-11 10:18] clicman commented on #10
@grumblerchester @vania-pooh As I remeber it was some talks about testcase.title in [allure core #442](https://github.com/allure-framework/allure-core/issues/442).

[2015-03-11 10:21] clicman commented on #9
@grumblerchester parallel execution was not tested yet. And seems to be not supported.
@vania-pooh I`ll check it.

[2015-03-12 14:16] GreenTeaCake commented on #9
Please provide milestone if it is possible.

[2015-03-12 17:57] #10 closed, assigned to nobody

[2015-03-12 19:31] clicman commented on #9
@grumblerchester I found problem. And I tihnk I will resease new version on this weenends.

[2015-03-18 17:33] clicman commented on #9
Fixed in version 1.3

[2015-03-18 17:33] #9 closed, assigned to nobody

[2015-03-19 00:49] GreenTeaCake commented on #9
Gratz guys!

[2015-03-19 09:07] baev opened #12 "Fix sonar issues"
Check out please http://sonar.qatools.ru/dashboard/index/ru.yandex.qatools.allure:allure-cucumber-jvm-adaptor

[2015-03-19 17:05] clicman commented on #12
Done via #13

[2015-03-19 17:06] #12 closed, assigned to nobody

[2015-06-24 19:37] gazal-k opened #14 "Cucumber steps with special characters like '.' getting truncated"
I've a simple cucumber scenario like this:

Scenario: logging in with valid credentials
        Given login using username "abc@xyz.com" and password "password"
        Then response status should be 200

The XML in the allure-results folder looks like this:

[code]

The final allure report truncates the test case name:

![screenshot from 2015-06-25 01 03 56](https://cloud.githubusercontent.com/as

[2015-06-25 07:42] vania-pooh commented on #14
@gazal-k I think this is an issue in adapter because it's invalid to have double quote inside XML tags (should be `&quot;`). But let's ask adapter developer. Also please tell us Allure version you're using.
@clicman any thoughts about it?

[2015-06-25 07:50] clicman commented on #14
No. It happened because of dot in titles. Additionally it is no problem to use double quotes inside tags for xml, it would be invalid only if appears in node attrbutes. Core problem was described in https://github.com/allure-framework/allure-core/issues/442
And this issue is duplicate of #10

[2015-06-25 07:55] #14 closed, assigned to nobody

[2015-06-25 07:55] vania-pooh commented on #14
@clicman agreed.

[2015-06-25 09:49] gazal-k commented on #14
@clicman is a fix in progress? Any workarounds?

[2015-06-25 10:02] clicman commented on #14
@gazal-k as workaround you can remove dots from step names.
To get issue status ask it in https://github.com/allure-framework/allure-core/issues/408
And finally you can build your own report generator artifact. This PR soves problem: https://github.com/allure-framework/allure-core/pull/478 (but it not accepted to upstream). Anyway you can use it without any side effects.
@vania-pooh @baev guys, an

[2015-06-25 11:46] gazal-k commented on #14
@clicman I thought the issue was with the dot character.

[2015-06-25 11:49] clicman commented on #14
@gazal-k Oh, sorry, you right. My typo. I was meand dots of course :)

[2015-08-18 19:03] Simon-Kaz opened #16 "Where to get ${aspectj.version} ?"
Hey, the readme states that all I need is to copy the maven dependency and build, but when I do, I get an error on ${aspectj.version} as It cannot be resolved (as its not set anywhere).

[2015-08-18 19:08] Simon-Kaz commented on #16
I found it in the pom file for the project, you might want to update your readme/guide :)

https://github.com/allure-framework/allure-cucumber-jvm-adaptor/blob/63fa562f881aecf125a44ee744955d5fa21d29c3/pom.xml#L64

[2015-08-18 19:08] #16 closed, assigned to nobody

[2015-08-18 20:43] clicman commented on #16
Usually you should not to point in in child projects. Will see it tomorrow.

[2015-09-02 11:31] baev opened #17 "java.lang.ArrayIndexOutOfBoundsException: 1"
[code]

When run tests (adaptor version 1.3)

The problem in the following line:

[code]

[2015-09-02 11:33] clicman commented on #17
@tiffanyplourde could you provide the feature on which failure can be reproduced? could you provide the feature on which failure can be reproduced?

[2015-10-08 09:42] jmunozrubio opened #18 "Tests suites and Steps broken if an URL is pressent, using cucumber-jvm-adaptor"
With the next Feature:

[code]

In xUnit section titles for Test Suites and Steps appears just with "Com" (string after last dot)

See attached screenshot
![allure_dashboard_-_2015-10-08_11 40 40](https://cloud.githubusercontent.com/assets/885886/10362896/7c0b7ff2-6db1-11e5-86ae-98f171aca4db.png)

[2015-10-08 09:49] clicman commented on #18
It is not an adaptor bug, but allure-core`s one. See #14 for details. I will mark this as duplicate.

[2015-10-08 09:59] jmunozrubio commented on #18
Thanks for your quickly answer, but just one question: if all issues related with dot problems in titles are closed ¿means that will not be fixed?

[2015-10-08 10:09] clicman commented on #18
@jmunozrubio It is planned to 2.0 milestone https://github.com/allure-framework/allure-core/issues/408
 So you culd vote for downgrade feature milestone in that issue. Or build your own https://github.com/allure-framework/allure-core/tree/master/allure-report-face and fix it there (it should be simple to implement).

[2015-10-08 10:16] jmunozrubio commented on #18
Ah!! Ok perfect. I din't know about the new planned milestone.

Thanks again.

El 08/10/15 a las 12:09, Viktor Sidochenko escribió:

[2015-10-08 12:17] baev commented on #18
It is an adaptor problem, you should use `title` instead of `name`

[2015-10-08 12:36] clicman commented on #18
Oh wow! I will take a look tomorrow.

[2015-10-21 05:36] clicman commented on #18
Realeased 1.5 version.

[2015-10-22 03:45] clicman opened #20 "1.5.1 Release"
@vania-pooh @baev
Hi guys! I ve released 1.5 version via jenkins deploy job, but it didnt appear on public repos.
(see https://oss.sonatype.org/#nexus-search;quick~allure-cucumber-jvm-adaptor).
Should it aproved by someone or I`ve missed something?

[2015-10-23 04:53] clicman commented on #18
Problem needs additional investigation.

[2015-10-23 08:13] #18 closed, assigned to clicman

[2015-10-23 08:20] clicman commented on #20
Update to 1.5.1 version.

[2015-10-23 09:36] vania-pooh commented on #20
@clicman will approve it.

[2015-10-25 10:00] clicman commented on #20
@vania-pooh Thanks!

[2015-10-25 10:00] #20 closed, assigned to nobody

[2015-10-27 18:49] Jiwari opened #21 "Steps are being displayed as tests"
The report is displaying every step as a "test", this creates confusion as there can  be displayed 200 tests, when there actually only 20 cucumber Scenarios.

I'm not sure if this is suppose to work like this, but my vision is that the report should display on the graphs the cucumber "Scenarios" that failed/passed/broken instead of each separate stepdefinition.

[2015-10-28 07:24] clicman commented on #21
I agree with you but this behaviour comes from cucumber-jvm-junit plugin.

[2015-10-28 15:05] dhaerinck opened #22 "dots (.) in Cucumber feature cause Allure report to truncate certain labels"
Hi,

I'm enjoying using Allure for reporting, but I have a simple problem and I don't seem to find a solution on the web other than "don't use dots", which is of course, not possible.

Thing is this: Often in my feature file i have a parameter containing a dot, sometimes this is a url, sometimes it is a username. When I generate my allure reports, all is generated correctly and I have the right ou

[2015-10-28 15:08] clicman commented on #22
What version of adaptor did you use? It should be fixed in 1.5.1 version.

[2015-10-28 15:35] dhaerinck commented on #22
I'm using 1.4. Thanks for the info!

[2015-10-28 15:35] #22 closed, assigned to nobody

[2015-10-29 10:55] clicman commented on #21
I decided to reopen this issue. I have some thouts how to implement it.

[2015-10-30 11:34] Jiwari commented on #17
I'm having a similar error when I execute a cucumber dry run:
`test -Dcucumber.options="-d"`

Not sure if related to this same issue, if not I'll open a new issue.

Stacktrace:
`Tests run: 75, Failures: 0, Errors: 6, Skipped: 60, Time elapsed: 0.263 sec <<< FAILURE! - in feature.ppf2.contratarccr.ContratarCCRTest
Test mechanism  Time elapsed: 0.007 sec  <<< ERROR!
java.lang.ArrayIndexOutOfBoundsEx

[2015-10-31 08:13] clicman commented on #17
@Jiwari cause of original error is unknown because reporter didn not provide additional info.
But in case of dry run allure adaptor shuld be turned off i think, because it is for debugging purpose. Am I right?

[2015-11-03 14:07] dhaerinck opened #23 "Issue with Test case timings"
Not sure if it fits in this project, but I don't see
Problem : All the Test cases (Cucumber steps) have a duration of 0/1ms.

I have two projects in parallel, one running Allure with a normal JUnit and Selenium 2, the other one adding Cucumber to the mix and using specification by example to define the test cases instead of the unit test case performing the steps.

@Steps are naturally replaced by

[2015-11-03 14:16] clicman commented on #23
Look at this PR in cucumber-jvm project https://github.com/cucumber/cucumber-jvm/pull/825
It fixes timing issues.
So you can build your version of cucumer-jvm (mergin this PR locally).
When it done - merge this branch in cucumber-jvm-adaptor: https://github.com/allure-framework/allure-cucumber-jvm-adaptor/tree/cucmber-timing-fix

And you`ll get right timings. I can not release fix because it is cu

[2015-11-03 21:34] dhaerinck commented on #23
Alright, I'll do that! Thanks man!

[2015-11-10 13:02] nicolas-duvivier commented on #23
I'm not used to the process here.
Is there a maven dependency for this fix ?

Regards

[2015-11-10 15:01] clicman commented on #23
@nicolas-duvivier  you can build your own jars and install it ti local maven repository.

[2015-11-12 09:29] clicman commented on #21
@baev I need some support to analyze it.
My implimentation plan is to replace suiteStarted/Finished/.. events by TestCaseStarted/Finished/... and replace TestCaseStarted/Finished/.. by StepStarted/Finished/..
But as I understand, I cannot fully manage steps statuses - only last one. It will cause multithreading issues.
Any Ideas how to deal with it? Maybe is it possible to expose steps management

[2015-12-16 12:10] gvvinblade commented on #17
Hi guys, Looks like the bug isn't in the Allure adapter, but in the METHOD_AND_CLASS_NAME_PATTERN regexp in org.junit.runner.Description. It can't work fine with features files where round brackets are present in a scenario name. Next piece of changes resolved the issue, at least for me:

[code]

 `

[2015-12-16 14:30] clicman commented on #17
@gvvinblade yes it is known limitation and I'm too lazy to fix it :)
But thank you for remind. I will try to fix it in few days. :)

[2015-12-28 18:02] clicman commented on #17
After some research I figured out what it leads to NPE in multithreaded execution case. See braces branch. https://github.com/allure-framework/allure-cucumber-jvm-adaptor/tree/braces

[2016-01-15 07:20] qaingene opened #24 "java.lang.ArrayIndexOutOfBoundsException: 1 displayed after an attempt to verify tests"
Hi! I'm trying to integrate allure framework in cucumber-jvm test suit (using maven-surefire-plugin ).
I run following maven command-line:

mvn -am -pl chm clean verify -Dtag1=~@skip -Dtag2=~@pre-setup -Dfeature=node-2-1/Login.feature -Dbrowser=firefox -Dremote=false

Suite works ok until allure not include in parent pom.xml file. But after including allure listener - test works, passed, browser c

[2016-01-15 07:23] clicman commented on #24
Hi @qaingene
Already seen your post on Stack Overflow. I will look into on this weekends.
Could you provide Scenario names for all tests what was included in that test run?

[2016-01-15 07:33] qaingene commented on #24
@clicman, sure, will leave all tests here

[2016-01-15 10:29] qaingene commented on #24
@clicman , here the test framework:
 https://github.com/qaingene/multimodule-cucumber-jvm-allure-framework
Kindly waiting for your feedback

[2016-01-15 10:34] clicman commented on #24
@qaingene Ohh. I really need some sleep :)
I can see problem in initial report. Sorry.
It is junit-related issue (see #17 for details).

Do not use round brackets "()" in scenario names and all be ok. Replace it to square ones "[]".
So your feature must be like:

Feature: Login
Scenario: User able to log in [correct credentials]
Given I login to application as 'user.admin'

Try this workaround and

[2016-01-15 10:50] qaingene commented on #24
@clicman it helps :) I've replaced braces in scenario with '[]' - ArrayIndexOutOfBoundsException is absent but
java.lang.NoClassDefFoundError: ru/yandex/qatools/allure/annotations/TestCaseId at ru.yandex.qatools.allure.utils.AnnotationManager.isTestCaseIdAnnotationPresent(AnnotationManager.java:248) is displayed

Screenshot with logs: http://i.imgur.com/ZJ66Ik5.png

[2016-01-15 11:22] clicman commented on #24
I suppose you messed up with incorrect encoding....
Calling @baev to be sure.

[2016-01-16 06:15] qaingene commented on #24
@clicman do you mean project.build.sourceEncoding, am I right?

[2016-01-17 17:28] qaingene commented on #24
Hi @baev !

NoClassDefFoundError throws after performing tests (from this repository: https://github.com/qaingene/multimodule-cucumber-jvm-allure-framework )

java.lang.NoClassDefFoundError: ru/yandex/qatools/allure/annotations/TestCaseId at ru.yandex.qatools.allure.utils.AnnotationManager.isTestCaseIdAnnotationPresent(AnnotationManager.java:248)

Could you please help me with a solution of this i

[2016-01-19 09:35] qaingene commented on #24
An issue has been fixed by using allure-java-annotations with 1.4.2 version

[2016-01-26 10:46] clicman commented on #24
Closing it.

[2016-01-26 10:46] #24 closed, assigned to nobody

[2016-02-02 00:15] jorgeejgonzalez opened #25 "Features are being generated as "Unknown test suite""
I'm currently using the allure-cucumber-jvm-adaptor version 1.5.1 to run the listener through a set of Cucumber tests.

When the reports are generated, I notice that only a few scenarios are recognized as behaviours, normally it's the scenarios of 2 random features (out of 10 or 12).

Looking around the allure-results i noticed that only a couple of the testsuite.xml files get the proper format

[

[2016-02-02 03:51] clicman commented on #25
@jorgeejgonzalez it is not enough data to analyze.
Could you provide more information?
I need scenario name for blank test result and exceptions if it present.

[2016-02-02 11:54] baev commented on #25
@jorgeejgonzalez it would be nice if you'll provide us the sample project to reproduce the problem

[2016-02-02 13:46] dhaerinck commented on #25
I encountered the exact same issue and I fixed it by removing all non-ASCII characters from the step definitions. I don't know if that'll work for you, but it's worth a try.

[2016-02-03 22:49] jorgeejgonzalez commented on #25
Ok, to provide a little more perspective, I noticed that it's only the scenarios of two features that get proper naming, if I add a third feature to the mix, the third feature wont get properly named.

But let's address this step by step.

First my **pom.xml** looks like this:

[code]

My features are:

**ExtractBrandPagesData.feature**

[code]

**PageBreadcrumbs.feature**

[code]

**PageValidTitl

[2016-02-04 09:39] clicman commented on #25
I don`t see multithreading configuration on pom.xml. Are you sure what tests runs in parallel?

[2016-02-04 12:38] jorgeejgonzalez commented on #25
I didn't enable parallel running but I can't figure out anything else, if it was due to encoding then the error should be persistant, instead only two features get properly named in each run

[2016-02-04 12:59] Jiwari commented on #25
I found some problems when using different files with the same Features names; when the second Feature with the same name of one executed previously was run, the Scenarios under this Feature were classified under a Unknown suite.
Per your sample files, it doesn't seem to be your problem, but check your project for repeated Features names, that might be the problem.

[2016-02-04 16:42] clicman commented on #25
Different files with the same Features names works well. I`ve just tested.

[2016-02-04 17:31] clicman commented on #25
I confirm problem. It appears if you have duplicate scenario names - not features.
If I place into folder features-setup feature A with scenario B and same feature in folder features-processed ant then start tests - problem reproduced.
But if I change scenario name in folder features-setup (and leave feature name) problem resloved.

@Jiwari you can use it as workaround until I realese bugfix.

[2016-02-05 01:13] jorgeejgonzalez commented on #25
I've been checking my scenarios and each one has an unique name and the error still occurs; maybe it has something to do with the fact that I'm using scenario outlines. Not sure if that triggers the issue

[2016-02-05 01:18] clicman commented on #25
Scenario outlines may leads to this error only same example liness will in one outline.

[2016-02-05 01:20] clicman commented on #25
And what difference between classpath:features/setup and classpath:features-processed?

[2016-02-05 02:26] jorgeejgonzalez commented on #25
This is a big difference to my project; our features are dynamically generated from a group of templates after scrapping some data from the web, particularly, the urls to which we are going to perform the validations.

Hence the setup feature which performs the data extraction and creates the features from the templates.

You can also find the repository with the code in my github account under th

[2016-02-05 15:58] clicman commented on #25
wow! I found the problem!
It happens when we have two features with scenario outlines with same parameters.
Problem found. I wil try to solve it ASAP.

As workaround (tested) you can generate additional cloumn for dummy parameter with some unique value.
For example:

[code]

It will affect on scenario name only.

P.S. Thank you for test project.

[2016-02-05 19:14] clicman commented on #25
Quick research leads to conclusion what it can`t be fixed on adaptor side. So I`ve created an issue in https://github.com/cucumber/cucumber-jvm/issues/959 .
So until it accepted, use workaround please.

[2016-02-05 19:21] clicman commented on #21
As alternative it can be fixed via cucumber-jvm patching. See https://github.com/cucumber/cucumber-jvm/pull/588 for details.

[2016-02-06 01:13] jorgeejgonzalez commented on #25
I can confirm that the workaround is working.

Thanks

[2016-02-17 17:09] Jiwari opened #26 "Attachments on Cucumber-jvm"
I'm having problems attaching files to the Allure report

This is my step
`@Given("^some step to be ran$")`
`@Attachment(value = "Page screenshot", type = "image/png")`
`public byte[] takeScreenshot() {`
`return ((TakesScreenshot) Chrome.getDriver()).getScreenshotAs(OutputType.BYTES);`
`}`

I have seen a lot of similar questions, but the solution always was about the -javaagent, which mine is corr

[2016-02-20 16:16] clicman commented on #26
I was created branch for you. Look  [here](https://github.com/allure-framework/allure-cucumber-jvm-adaptor/tree/screenshot-proof). Try `mvn clean test` on it. All steps will with screenshots.

[2016-02-22 19:59] Jiwari commented on #26
I cloned your project, compared the pom and found the problem.
Under my `maven-surefire-plugin` I had a second `argLine` that I was using for the encoding, this was overwriting the `argLine` for the `javaagent`. I merged both args into one and now it's working.
Thanks for the help!

[2016-02-23 17:49] #26 closed, assigned to nobody

[2016-02-24 11:41] jalona opened #27 "Allure annotaions is not passed to report."
There are questions that I would like to have answers. Please help me
 
1) Realization `@BeforeStep` `@AfterStep` when we can expect?
2) To test Cucubmer Annotated `@Issue @Severity @Description` not fall into the report allure. What is the reason?
Example:

[code]

[2016-02-24 14:28] clicman commented on #27
Looks like you found the bug :)

[2016-02-29 08:17] jalona commented on #27
When for the time expect fixing this bug ?

[2016-02-29 08:19] clicman commented on #27
As soon as I`ll get some free time.
Another way to get it fixed - is to send PR.

[2016-03-02 06:26] SButterfly opened #28 "Double testFailure() invoking on Appium+Cucumber+Allure"
Hi
I'm not sure is it my own bug, or adaptor, or allure reports.
So, I'm using Appium + Cucumber. And also add allure reports to the project. When test fails, I attach screenshot to report this way:

[code]

And let the `Test.feature` be like this:

[code]

If scenario fails on second step, then screenshot will be attached to the failed step. But also another screenshot will be attached to the ste

[2016-03-02 08:48] vania-pooh commented on #28
@SButterfly please run tests with debugger and check whether your adapter's testFailure() method is called for "Then I don't do anything" test case. If that's true - then that's either an adapter issue or an expected behavior of CucumberJVM listener.

[2016-03-02 15:38] SButterfly commented on #28
@vania-pooh
Yes, `testFailure` invokes twice. And Appium server logs reports that server makes screenshot twice.

[2016-03-02 16:38] jalona opened #29 "Allure not attach screenshot for failure steps"
This project example https://github.com/jalona/AutoTests
If failed in step - the in Allure Report not screenshots attach.

[2016-03-02 17:03] Jiwari commented on #28
@SButterfly I'm having the same issue. My workaround is using a static boolean to know wheter the print was taken or not. On the Cucumber `@After` I reset the boolean, so that the next test will also be able to take prints.

[2016-03-03 05:56] vania-pooh commented on #28
@SButterfly I think the only lines in adapter that can be the reason of the issue are: https://github.com/allure-framework/allure-cucumber-jvm-adaptor/blob/master/src/main/java/ru/yandex/qatools/allure/cucumberjvm/AllureRunListener.java#L351-L357

[2016-03-03 06:22] SButterfly commented on #28
@Jiwari Thanks for advise, but your solution seems to me to be hacky kludge.

Also, I ran 3 step scenario with failure on the second step, and looked into cucumber output, and found this lines:

[code]

[2016-03-03 06:34] SButterfly commented on #28
Also my `pom.xml` looks like this:

[code]

[2016-03-03 07:15] SButterfly commented on #28
@vania-pooh I printed stacktrace and it seems, that adaptor is not guilty for this.

First call:

[code]

Second:

[code]

[2016-03-03 07:34] vania-pooh commented on #28
@SButterfly seems like there's something wrong in Cucumber JVM itself.

[2016-03-03 08:02] clicman commented on #28
@SButterfly try to call **super** after screenshot capturing in your listener.

[2016-03-04 07:19] #29 closed, assigned to nobody

[2016-03-04 10:44] vania-pooh commented on #28
@SButterfly did it help?

[2016-03-04 11:14] SButterfly commented on #28
@clicman @vania-pooh No, still double invoking. I've also run without super, the results were the same

[2016-03-04 16:05] SButterfly commented on #28
I've created simple repo to reproduce the problem: https://github.com/SButterfly/allure-cucumber-jvm-example

[2016-03-04 17:47] clicman commented on #28
@SButterfly finally got some time to research. Here is a result:
Cucumber-jvm fires testFailre for failed step and then for scenario with filed test.It is its expected behaviour. So to exclude reflecting to scenario failure event use this code in your custom listener:

[code]

[2016-03-04 18:42] SButterfly commented on #28
@clicman Thanks man. I'll try later and report about results.
BTW. If it fires two times: one for the step, second for the suite, why it attaches data for the step next to the failed, but not to the whole scenario?

[2016-03-05 04:16] clicman commented on #28
@SButterfly It because in allure scenario is virtual entity. as Allure doesn`t expect attacment events on scenario and do its best and attach it somewhere it can be attached :)

[2016-03-05 06:41] SButterfly commented on #28
@clicman Yes, I works. Thanks!

[2016-03-05 06:41] #28 closed, assigned to nobody

[2016-03-05 08:56] SButterfly commented on #17
Caught the same exception by running `mvn clean test -Dcucumper.options="--name 'Some name' -t @debug"`

[code]

[2016-03-09 08:48] SButterfly commented on #17
Sorry, my case is invalid cause cucumber doesn't allow user to run simultaneously with name and tag params.

Valid command line will be: `mvn clean test -Dcucumper.options="--name 'Some name'"`

[2016-04-09 09:03] SButterfly commented on #25
I'm also facing this problem. And I'd like to mention, there is no need of different features. It also reproduced in one:

[code]

Any news about fixing it?

[2016-04-09 09:15] clicman commented on #25
@SButterfly yes I am working on it. You could try [this branch](https://github.com/allure-framework/allure-cucumber-jvm-adaptor/tree/migrate-to-uniques). But I won`t merge it into maser because it have issues with multithreading.
To make it work you should follow special pom.xml [configuration](https://github.com/allure-framework/allure-cucumber-jvm-adaptor/wiki/Configure-pom.xml)

If you will dec

[2016-04-11 15:09] SButterfly commented on #25
@clicman Well, now there are no 'Without feature' row in allure reports and those broken scenario outlines are grouped now.
But when I opened logs, I saw

[code]

And on xUnit tab at allure reports I saw:

[code]

Smth gone wrong

[2016-04-11 15:17] clicman commented on #25
So... Which one of provided results are actual and which are wrong? I admit it count wrong cases count in logs but should count it right in allure report.

[2016-04-11 16:56] SButterfly commented on #25
122 is correct.
I thought it is allure report bug. Because on 'Behaviors tab' total number of scenarios is 122. But on xUnit tab total number is 110, which is wrong.

[2016-04-11 16:56] SButterfly commented on #25
What about current bug? When can we have a release with it?

[2016-04-11 18:18] clicman commented on #25
I should take some conversation with guys from Surefire team.
It has some mess with couple surefire issues:
https://issues.apache.org/jira/browse/SUREFIRE-1227
https://issues.apache.org/jira/browse/SUREFIRE-1187
https://issues.apache.org/jira/browse/SUREFIRE-1095

So if I release it now, people who uses parallel execution will start to catch bugs.

[2016-04-13 11:52] SButterfly commented on #25
Hello, It's me.. again..
I found bug in new implementation
It looks like if two scenarios have similar names, they placed under one scenario in allure reports.

Ex

[code]

Then in allure reports at 'Behaviors' tab.

[code]

[2016-04-13 11:57] clicman commented on #25
@SButterfly it is not an implementation bug :) Its how allure sort entities. Also it is strange to have scenarious with same name in one feature. It is breaks BDD principle (and allure and everything). Do not do that anymore.

[2016-04-22 14:17] robertgates55 opened #30 "Error on build - java.lang.NoClassDefFoundError: ru/yandex/qatools/allure/AllureUtils"
Adding the dependency to my pom (but not then invoking it anywhere):
    <dependency>
      <groupId>ru.yandex.qatools.allure</groupId>
      <artifactId>allure-cucumber-jvm-adaptor</artifactId>
      <version>1.5.1</version>
    </dependency>

results in the following when trying to build my project:

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAI

[2016-04-22 15:45] clicman commented on #30
adaptor doesn`t support TestNg only JUnit one.

[2016-04-22 15:45] #30 closed, assigned to nobody

[2016-08-25 06:06] jalona opened #31 "[RU] gradle + allure + cucumber-jvm"
Добрый день.

В maven это делается через surefire с указанием CustomAllureRunListener  и подтягиванием

[code]

согласно примеру из
https://github.com/allure-examples/allure-cucumber-jvm-example

Имеется ли возможность реализовать запуск тестов в связке
gradle + allure + cucumber-jvm ?

https://github.com/allure-framework/allure-core/issues/847

[2016-08-27 15:37] clicman commented on #31
Почему бы просто не добавить листенер в тестируемый проект и не передать его через FQDN?
как здесь: https://github.com/allure-examples/allure-cucumber-jvm-example/blob/master/pom.xml#L45

[2016-08-30 17:43] thelazytester opened #32 "How to use the annotations @Issue, @TestCaseID, etc with Cucumber-JVM framework ?"
I tried adding the way it is mentioned in the documentations but i was not able to see the Test Case ID and Issue ID on the Allure Report.

Sample Code :

@Issue("CON-1062")
    @When("^User logs in using Username as \"(._)\" and Password \"(._)\"$")
    public void login(String username, String password) {
        -- implementation code
    }
@TestCaseId("CON-1055")
    @Then("^User should be log

[2016-09-22 11:52] jalona commented on #32
Double issue.
See please: https://github.com/allure-framework/allure-cucumber-jvm-adaptor/issues/27

[2016-09-25 14:20] hemanthsridhar opened #33 "Unable to attach a screenshot using the hooks"
**My Hooks Code**

[code]

**My pom.xml**

[code]

[2016-09-25 15:10] clicman commented on #33
It because @After annotation hooks when allure out of business. The simlpest solution is to override AllureRunListener to handle screenshots on test failure

[2016-09-25 17:10] hemanthsridhar commented on #33
[code]

[code]

**is this correct?**

[2016-09-25 17:12] clicman commented on #33
Yes, looks good.

[2016-09-25 17:19] hemanthsridhar commented on #33
@clicman thank you so much for your help.

[2016-09-25 17:20] #33 closed, assigned to nobody

[2016-09-27 19:33] hemanthsridhar commented on #33
@clicman  I would suggest to add this in the documentation.

[2016-11-03 18:59] hemanthsridhar commented on #27
@clicman  Hi. Any update on this?

[2016-11-11 21:29] mmuntakim15 opened #34 "Duration time for Cucumber Test Scenario displays as "0""
Hello,
Total duration time for individual test scenario is not being calculated correctly. For example if I have three test steps where each steps took 1 Second then Scenario duration time should display duration as 3 Second. Please see the attached screenshot for further details.

Again any help will be appreciated.

![allurescreenshot](https://cloud.githubusercontent.com/assets/11964005/20230821

[2016-11-14 05:58] thelazytester commented on #27
To use Severity, Issue and TestCaseId you have to add those annotation in the .feature.
Example:

It worked for me.

[2016-11-14 09:32] hemanthsridhar commented on #27
@ankit-ojha  Whatever you have mentioned is allure cucumber plugin developed by Anton.  This is not allure cucumber plugin, this is allure cucumber jvm adaptor.

[2016-12-24 12:24] Jiwari commented on #17
Recently I discovered that the same error is given when using `maven-surefire-plugin` v2.19.1, when there is `Scenario Outline` on the execution.

If you want to reproduce just use the [example project](https://github.com/allure-examples/allure-cucumber-jvm-example) and change the surefire version to v2.19.1.

I haven't found any solution yet, but I believe it is important to mention this issue.
A

[2016-12-24 12:27] clicman commented on #17
Yes. It's a known surefire issue. After NY holidays I plan to refactor the
adaptor, to to avoid all this issues.

24 дек. 2016 г. 7:24 PM пользователь "Eduardo Wermuth" <
notifications@github.com> написал:

[2016-12-24 13:19] gvvinblade commented on #17
Try this one:
https://github.com/kirlionik/allure-cucumber-plugin

It works) I've write this plugin with my frnd to solve all the issues above

[2016-12-24 13:44] clicman commented on #17
@gvvinblade wow! it should replace original adaptor in allure.

[2016-12-24 13:59] gvvinblade commented on #17
@clicman It's under Apache license, if you wish, you can use it as the basis for a new version of the adapter)

[2017-01-08 18:19] jaheikki commented on #23
@clicman Is this timing issue still not corrected? I see these "duration not showing correct values" in Allure report with Cucumber-jvm. I have cucumber-java (and it's dependencies) version 1.2.5 and allure-cucumber-jvm-adaptor version 1.5.1. I can see from the earlier discussion that cuccumber-jvm was the bottleneck in this problem. But cucumber/cucumber-jvm#825 is closed and still problem not so

[2017-01-09 04:29] clicman opened #35 "Lost permissions to project"
@baev hi!

Just tried to push new branch and issued "Access Denied". Give me access please.

[2017-01-09 08:26] jaheikki commented on #23
@clicman I reply to myself, Cucumber option "--allow-started-ignored"  (https://github.com/cucumber/cucumber-jvm/pull/1002) seems solving "duration not showing correct values" issue in Allure report. However new small bug comes in with that new option, the pending status (not executed) testcases are somehow duplicated in the Allure report, but that is quite small problem...

[2017-01-09 08:29] clicman commented on #23
@jaheikki  Yes, I know what it solves the problem. But I will on the go to switch allure to cucumber plugin. And all of issues should be fixed by this.

[2017-01-09 08:38] jaheikki commented on #23
@clicman Could you please describe further about your plans, so what do you mean by "switch allure to cucumber plugin"? Are you planning to abandon Allure reports by other reports...?

[2017-01-09 08:44] clicman commented on #23
@jaheikki yes, take a look at https://github.com/kirlionik/allure-cucumber-plugin
So it will based on this code. Initial plugin has problems with i18n (which I fixed in my branch), but if you using English only in your scenarios, you can test it now from their repository.

[2017-01-09 09:00] jaheikki commented on #23
@clicman Thanks a lot for this information! Yes I will be using English only in scenarios. I will try the plugin asap :)

[2017-01-10 06:12] clicman commented on #21
Will be fixed while [PR#36](https://github.com/allure-framework/allure-cucumber-jvm-adaptor/pull/36) merged

[2017-01-10 09:21] nicolas-duvivier commented on #21
That's nice ! Good job

[2017-01-10 09:31] nicolas-duvivier commented on #34
Duplicate --> #23

[2017-01-10 11:03] baev commented on #35
@clicman sorry for the delay. Check this out https://github.com/allure-framework/allure-cucumber-jvm-adaptor/invitations

[2017-01-10 11:07] clicman commented on #35
@baev  Yes. Now I have permissions. Thanks.
What about release flow? Something changed since last year? What steps to publish release?

[2017-01-10 11:09] baev commented on #35
create a ticket and I'll release

[2017-01-10 11:10] clicman commented on #35
Ok. Got it!

[2017-01-10 11:10] #35 closed, assigned to nobody

[2017-01-10 14:16] #34 closed, assigned to nobody

[2017-01-11 04:44] clicman commented on #17
Fixed in master. Will available in 1.6 release

[2017-01-11 04:44] #17 closed, assigned to clicman

[2017-01-11 04:46] clicman commented on #21
Fixed in master. Will available in 1.6 release

[2017-01-11 04:46] #21 closed, assigned to nobody

[2017-01-11 04:46] clicman commented on #23
Fixed in master. Will available in 1.6 release

[2017-01-11 04:46] #23 closed, assigned to nobody

[2017-01-11 04:46] clicman commented on #25
Fixed in master. Will available in 1.6 release

[2017-01-11 04:46] #25 closed, assigned to clicman

[2017-01-11 04:46] clicman commented on #27
Fixed in master. Will available in 1.6 release

[2017-01-11 04:46] #27 closed, assigned to nobody

[2017-01-11 04:46] clicman commented on #32
Fixed in master. Will available in 1.6 release

[2017-01-11 04:46] #32 closed, assigned to nobody

[2017-01-11 05:19] clicman opened #37 "1.6.0 Release"
Master is ready for [1.6.0 Release](https://github.com/allure-framework/allure-cucumber-jvm-adaptor/releases/tag/untagged-7013f55bf524debd9222).

[2017-01-11 10:34] baev commented on #37
@clicman done. Thanks for all the work!

[2017-01-11 10:34] #37 closed, assigned to baev

[2017-01-11 15:32] clicman opened #38 "Rare ArrayIndexOutOfBoundsException on multithreaded runs"
Caught on http://ci.qatools.ru/job/allure-cucumber-jvm-adaptor_master-deploy/8/console
Never reproduced myself but to be sure what all safe need to add synchronizet to all ops with plugin private lists

[2017-01-11 18:11] #38 closed, assigned to clicman

[2017-01-12 05:04] clicman opened #40 "Where is 1.6 release?"
@baev Hi! I cannot find 1.6 release on oss.sonatype.org nor search.maven.org.
Where was it stuck?

Anyway let's publish [1.6.1](https://github.com/allure-framework/allure-cucumber-jvm-adaptor/releases/tag/untagged-ce4d577cae183f08f626)

[2017-01-12 10:56] baev commented on #40
Both 1.6 and 1.6.1 should be available in maven central within a hour

[2017-01-12 10:56] #40 closed, assigned to baev

[2017-01-12 11:12] baev commented on #40
https://repo.maven.apache.org/maven2/ru/yandex/qatools/allure/allure-cucumber-jvm-adaptor/

[2017-01-12 12:01] clicman commented on #40
Thank you!

[2017-02-08 10:34] shapovalovei opened #41 "Attachment create and exist in folder allure-results but not present in Report"
I implements ITestListener and  @Override onTestFailure(). In this function i take screenshot and attache him in report

[code]
In folder "allure-results"  I see this screenshot. but In report attachment is empty

<img width="581" alt="screen shot 2017-02-08 at 12 32 58" src="https://cloud.githubusercontent.com/assets/8914951/22733531/cc07c66c-edfa-11e6-8405-f72689c85791.png">

<img width="1501" a

[2017-02-08 14:36] clicman commented on #41
Okay, to make screenshots you should extends of AllureReporter like this:

[code]

And update your pom.xml to use new reporter:
    ```-Dcucumber.options="--plugin ru.yandex.qatools.allure.cucumberjvm.AllureReporterExt"```

Do not close this issue, I'll implement handy callback which will make extending unnecessary.

[2017-02-08 15:14] shapovalovei commented on #41
dosent work.
I change my listener class

[code]

Update pom.xml

[code]

After run test a have exceptions

[code]

@clicman  My be I wrong ?

[2017-02-08 15:20] baev commented on #41
That is how testNG works. Test case is finished before you saving an attachment, so Allure can't add it to test case result. That is why you can find an attachment in results folder, and why it is missed in the report

[2017-02-08 15:32] clicman commented on #41
Ohh. You're using testNG. My solution tested on junit only. Could you push sample testNG project what reproduces this error? I will try to investigate issue with testNG.

[2017-02-08 15:33] clicman commented on #41
Ohh. You're using testNG. My solution tested on junit only. Could you push sample testNG project what reproduces this error? I will try to investigate issue with testNG.

[2017-02-08 16:24] clicman commented on #41
https://github.com/clicman/TestNGScreensProof is how to make screenshot with allure, cucumber and testNG.

[2017-02-08 17:41] #31 closed, assigned to nobody

[2017-02-09 10:55] shapovalovei commented on #41
@clicman Thank you very match for help.
Worked of me : https://github.com/clicman/TestNGScreensProof

[2017-02-16 16:08] clicman commented on #41
1.6.2 is released (wait some time to get in on central)
Details: https://github.com/allure-framework/allure-cucumberjvm/releases/tag/untagged-36b97360440ee2d42267

[2017-02-16 16:08] #41 closed, assigned to clicman

[2017-02-22 15:30] dstoianov opened #43 "cucumber.options is configured twice"
I got a warning message when i configured cucumber as here in tutorial
`[WARNING] The system property cucumber.options is configured twice! The property appears in <argLine/> and any of <systemPropertyVariables/>, <systemProperties/> or user property.
`
I run my tests from command line like

So, as the result no any test artifacts.

**WORKAROUND** use old style with `AllureRunListener` and add it

[2017-02-22 15:34] clicman commented on #43
Hi! It's bad idea to workaround it by this way. The warning says you what you use options from several places (from commandline in your case).
To properly use new adaptor you should remove argline from pom.xml and pass it via commandline like follows:
[code]

And do not use old AllureRunListener it was deprecated and will be removed in future.

[2017-02-22 15:46] #43 closed, assigned to nobody

[2017-03-03 15:35] punitbisht opened #44 "Not able to show data tables in background section of the report"
Hi ,

cucumber-jvm adaptor is not displaying data tables in background section of feature report .
I am trying something like this
<img width="1173" alt="screen shot 2017-03-03 at 9 31 27 am" src="https://cloud.githubusercontent.com/assets/19594631/23557151/a8b8f4ea-fff4-11e6-9958-aca16726d9c9.png">

[2017-06-07 02:58] clicman opened #48 "Publish release 1.6.3"
@baev let's release it https://github.com/allure-framework/allure-cucumberjvm/releases/tag/1.6.3

[2017-06-07 03:09] clicman commented on #44
Fixed in 1.6.3. Wait for release via #48

[2017-06-07 03:09] #44 closed, assigned to clicman

[2017-06-13 01:38] clicman commented on #48
@baev ping.

[2017-06-13 13:41] eroshenkoam commented on #48
Done: https://oss.sonatype.org/#nexus-search;quick~allure-cucumber-jvm-adaptor

[2017-06-13 13:41] #48 closed, assigned to baev

[2017-06-13 13:51] clicman commented on #48
Thanks

[2017-06-25 00:12] thasherwin opened #49 "allure history functionality"
I am wondering what version of allure cucumber-jvm i need to use if i want the  history functionality that is added as part of allure 2.0?

Thanks,

[2017-07-18 02:27] #49 closed, assigned to nobody

[2017-08-22 08:23] unickq opened #50 "1.6.3 - Incorrect Scenario Outlines behavior"
Hey there,

Cloned CucumberJvmExample repository and changed a bit ran following scenario:

[code]

**Expected**: 3 scenarios in allure report: 1 **passed** _Test multiply_, 1 **passed** and 1 **failed** _Two digits multiply_
**Actual**: Only last step of scenario outline scenario is published

**mvn clean test**

Allure 2.3.4 shows: 2 passed scenarios:
1) Test multiply
2) Two digits multiply    |

[2017-08-22 08:30] clicman commented on #50
Hi! Actually, it is expected behaviour, because scenario outline is the same test case with different dataset.
But making it flaky is unexpected behavior. And somewhere I saw an issue on it.

[2017-08-22 08:41] unickq commented on #50
@clicman
So is it impossible to publish scenario outline data as a separate test case?

I mean how we can see failed dataset as well?

[2017-08-22 08:45] clicman commented on #50
By design, it will be marked as flaky and you'll see which one failed in test history (retries)

[2017-08-22 09:05] unickq commented on #50
Ok, thanks.

Just wondered why the last failed data set item fails the whole test case and last successful marks it passed even if other are different :)

[code]

![1](https://user-images.githubusercontent.com/6696821/29557541-1c7a162e-8732-11e7-8d51-9cdee1f31bf9.png)
![2](https://user-images.githubusercontent.com/6696821/29557540-1c790dd8-8732-11e7-80cc-d10232bc5a8c.png)

We can close this issue

[2017-08-22 09:10] clicman commented on #50
Sometimes hard to integrate cucumber logic into allure. This is one of these difficulties )

[2017-08-22 09:10] #50 closed, assigned to nobody

[2017-11-21 17:53] marcuskaufmann opened #52 "Result files not created when using outline in scenario name"
If I execute a test with an feature definition like below  (parameters in scenario title)  then the test will be executed but no result files are created (except allure.properties, executor.json). If I remove the parameters from the scenario title then everything works fine.

[code]

allure-cucumber-jvm@2.0-BETA19
allure-maven@2.9
allure@2.4.1

[2018-04-16 16:47] mikesalvia commented on #50
@clicman Maybe this can get re-opened, the Allure Cucumber Ruby adaptor is indeed able to take the parameters of the Scenario Outline and appends them to the Scenario Outline title.

[2018-04-16 16:48] mikesalvia commented on #50
<img width="683" alt="screen shot 2018-04-16 at 12 47 57 pm" src="https://user-images.githubusercontent.com/6209204/38823483-720ba894-4174-11e8-8c13-c6689256a214.png">
It looks like it should be being done here... However I am seeing them all grouped together.

[2018-06-05 12:31] sargissargsyan commented on #41
Can you please post here the solution that worked for you with TestNG

[2018-07-30 11:41] kathyrollo opened #53 "Error occurred during initialization of VM"
After cloning and making no changes, the example project [here](https://github.com/allure-examples/allure-cucumber-jvm-example/tree/master/junit) (JUnit) is throwing below error after `mvn clean test`.
[code]

[2018-07-30 12:12] baev commented on #53
you need to escape aspectjweaver path. See https://github.com/allure-examples/allure-cucumber-jvm-example/pull/4

[2018-07-30 12:12] #53 closed, assigned to nobody

[2018-07-31 07:59] kathyrollo commented on #53
@baev Thank you for the quick merge. Able to view the reports now in localhost:8080.

[2018-07-31 09:46] kathyrollo opened #54 "java.lang.IncompatibleClassChangeError: Implementing class"
**cucumber-jvm:** 3.0.2
**java:** 1.8
**repo:** https://github.com/kathyrollo/jcucumberng-framework/tree/issue-80

I incorporated [this](https://github.com/allure-examples/allure-cucumber-jvm-example/blob/master/junit/pom.xml) pom.xml into my own for JUnit runner and currently encountering below:
[code]

This is the runner class:
[code]

This is the full pom.xml:
[code]

[2018-07-31 10:24] clicman commented on #54
It seems some bytecode manipulation error.
Also, you should move BeforeClass method from test file. And define it into stepdefs class with cucumber's @Before annotation implementation
You can get an example in this article: https://zsoltfabok.com/blog/2012/09/cucumber-jvm-hooks/

[2018-07-31 11:01] kathyrollo commented on #54
@clicman Thank you for the tip. Do you believe the @BeforeClass method is causing this?

[2018-07-31 11:03] clicman commented on #54
@kathyrollo yes. I had several issues while using pure junit hooks what never been reproduced on cucumber's.

[2018-07-31 11:29] kathyrollo commented on #54
Hi @clicman , I moved it like this:
[code]
I placed it in a static block because I need `isLoaded` to be static. This was actually my original setup which also worked before moving it to @BeforeClass in the runner.

The runner class is now empty with the same @RunWith and @CucumberOptions annotations. However, I am still facing the same error.

[2018-07-31 11:37] clicman commented on #54
Hmmm. I do not know a lot about bytecode manipulation.
@baev any suggestions?

[2018-07-31 12:36] baev commented on #54
I bet the problem occurs because of dependency hell

allure-cucumber-jvm-adaptor depends on cucumber version 1.2.5 and you are trying to use it together with cucumber 3.0.2

[2018-07-31 12:36] #54 closed, assigned to nobody

[2018-07-31 14:25] kathyrollo commented on #54
@baev So the adaptor does not support the latest cucumber-jvm 3.x.x and will only work with the older cucumber-jvm 1.2.5?

[2018-10-29 18:05] rohitpatwari84 opened #55 "Not getting how to add screenshots in cucumber jvm"
I want to add screenshot on a test step failure . If I add screenshot in allure in @After , it will not work.
Then where do I implement this

[2018-11-22 17:41] IlyasPatel opened #56 "Duplicate scenario in Allure report"
Here is a sample project which replicates the issue, duplicate scenario names appear in the final Allure report:

https://github.com/IlyasPatel/stackoverflow-gradle-cucumber-allure

The Allure_Report_Duplicate.png displays the problem.

It started to happen when I added 'io.qameta.allure:allure-junit4:2.8.1' dependency. When I remove this, I don't get duplicates but I do get a NullPointerException

[2018-12-14 15:26] #52 closed, assigned to nobody

[2018-12-14 15:26] #55 closed, assigned to nobody